admin_password = "your_admin_pass"

[gcp_service_account]
# Paste your Google JSON key contents here

[spreadsheet_config]
sheet_key = "your_google_sheet_id"

[network_config]
home_server_url = "https://media.your-secure-tunnel.com"
